#highlight-area.form-control, #textArea {
    position: absolute;
    line-height: 1.2em;
    font-family: Consolas, 'Courier New', Courier, monospace;
    max-height: inherit;
    max-width: inherit;
    height: 70vh;
    white-space: pre;
}

#highlight-area {
    overflow: hidden;
    padding: 0;
    white-space: pre-wrap;
    word-wrap: normal;
}

#textArea {
    position: absolute;
    border-radius: 0;
    background-color: transparent;
    color: transparent;
    caret-color: #555555;
    z-index: 2;
    resize: none;
}

#highlight-area.form-control {
    z-index: 1;
    border: 2px solid transparent;
    overflow: auto;
    pointer-events: none;
}

td.linenos pre { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding-left: 5px; padding-right: 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.displayArea .hll { background-color: #ffffcc }
/* .displayArea { background: #f8f8f8; } */
.displayArea .c { color: #408080; font-style: italic } /* Comment */
/* .displayArea .err { border: 1px solid #FF0000 } Error */
.displayArea .k { color: #008000; font-weight: bold } /* Keyword */
.displayArea .o { color: #666666 } /* Operator */
.displayArea .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.displayArea .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.displayArea .cp { color: #BC7A00 } /* Comment.Preproc */
.displayArea .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.displayArea .c1 { color: #408080; font-style: italic } /* Comment.Single */
.displayArea .cs { color: #408080; font-style: italic } /* Comment.Special */
.displayArea .gd { color: #A00000 } /* Generic.Deleted */
.displayArea .ge { font-style: italic } /* Generic.Emph */
.displayArea .gr { color: #FF0000 } /* Generic.Error */
.displayArea .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.displayArea .gi { color: #00A000 } /* Generic.Inserted */
.displayArea .go { color: #888888 } /* Generic.Output */
.displayArea .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.displayArea .gs { font-weight: bold } /* Generic.Strong */
.displayArea .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.displayArea .gt { color: #0044DD } /* Generic.Traceback */
.displayArea .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.displayArea .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.displayArea .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.displayArea .kp { color: #008000 } /* Keyword.Pseudo */
.displayArea .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.displayArea .kt { color: #B00040 } /* Keyword.Type */
.displayArea .m { color: #666666 } /* Literal.Number */
.displayArea .s { color: #BA2121 } /* Literal.String */
.displayArea .na { color: #7D9029 } /* Name.Attribute */
.displayArea .nb { color: #008000 } /* Name.Builtin */
.displayArea .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.displayArea .no { color: #880000 } /* Name.Constant */
.displayArea .nd { color: #AA22FF } /* Name.Decorator */
.displayArea .ni { color: #999999; font-weight: bold } /* Name.Entity */
.displayArea .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.displayArea .nf { color: #0000FF } /* Name.Function */
.displayArea .nl { color: #A0A000 } /* Name.Label */
.displayArea .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.displayArea .nt { color: #008000; font-weight: bold } /* Name.Tag */
.displayArea .nv { color: #19177C } /* Name.Variable */
.displayArea .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.displayArea .w { color: #bbbbbb } /* Text.Whitespace */
.displayArea .mb { color: #666666 } /* Literal.Number.Bin */
.displayArea .mf { color: #666666 } /* Literal.Number.Float */
.displayArea .mh { color: #666666 } /* Literal.Number.Hex */
.displayArea .mi { color: #666666 } /* Literal.Number.Integer */
.displayArea .mo { color: #666666 } /* Literal.Number.Oct */
.displayArea .sa { color: #BA2121 } /* Literal.String.Affix */
.displayArea .sb { color: #BA2121 } /* Literal.String.Backtick */
.displayArea .sc { color: #BA2121 } /* Literal.String.Char */
.displayArea .dl { color: #BA2121 } /* Literal.String.Delimiter */
.displayArea .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.displayArea .s2 { color: #BA2121 } /* Literal.String.Double */
.displayArea .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.displayArea .sh { color: #BA2121 } /* Literal.String.Heredoc */
.displayArea .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.displayArea .sx { color: #008000 } /* Literal.String.Other */
.displayArea .sr { color: #BB6688 } /* Literal.String.Regex */
.displayArea .s1 { color: #BA2121 } /* Literal.String.Single */
.displayArea .ss { color: #19177C } /* Literal.String.Symbol */
.displayArea .bp { color: #008000 } /* Name.Builtin.Pseudo */
.displayArea .fm { color: #0000FF } /* Name.Function.Magic */
.displayArea .vc { color: #19177C } /* Name.Variable.Class */
.displayArea .vg { color: #19177C } /* Name.Variable.Global */
.displayArea .vi { color: #19177C } /* Name.Variable.Instance */
.displayArea .vm { color: #19177C } /* Name.Variable.Magic */
.displayArea .il { color: #666666 } /* Literal.Number.Integer.Long */