#highlight-area.form-control, #textArea {
    position: absolute;
    line-height: 1.2em;
    font-family: Consolas, 'Courier New', Courier, monospace;
    max-height: inherit;
    max-width: inherit;
    height: 70vh;
    white-space: pre;
}

#highlight-area {
    overflow: hidden;
    padding: 0;
    background: transparent;
    color: var(--dark);
    white-space: pre-wrap;
    word-wrap: normal;
}

#textArea {
    position: absolute;
    background-color: transparent;
    color: transparent;
    caret-color: var(--dark);
    z-index: 2;
    resize: none;
}

#highlight-area.form-control {
    z-index: 1;
    border: 2px solid transparent;
    overflow: auto;
    pointer-events: none;
}