html, body {
    height: 100%;
}

#editor {
    position: relative;
    height: 70vh;
}

textarea.form-control {
    line-height: 1.2em;
    font-family: Consolas, 'Courier New', Courier, monospace;
    resize: none;
    height: 100%;
}