{% extends "layout.html" %}

{% block title %}Editor{% endblock %} 

{% block menuitems %}
{{super()}}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        File
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" onclick="document.getElementById('fileinput').click()">Load</a>
        <a class="dropdown-item" href="#" onclick="saveText(document.getElementById('codeField'));">Save</a>
        <a class="dropdown-item" href="#" onclick="$('#chooseFileModal').modal('toggle');">Download</a>
    </div>
</li>
{% endblock %}

{% block content %}
    <input id="fileinput" type="file" class="custom-file-input d-none" onchange="fileLoad(this);" />
    <div class="container" id=mainPane>
        <div class="form-group">
            <label for="languageSelect">Language</label>
            <select class="form-control" id="languageSelect" onchange="selectedLanguage();">
                <option>Auto</option>
                <option>ABAP</option>
                <option>ABNF</option>
                <option>ActionScript</option>
                <option>ActionScript 3</option>
                <option>Ada</option>
                <option>ADL</option>
                <option>Agda</option>
                <option>Aheui</option>
                <option>Alloy</option>
                <option>AmbientTalk</option>
                <option>Ampl</option>
                <option>Angular2</option>
                <option>ANTLR</option>
                <option>ANTLR With ActionScript Target</option>
                <option>ANTLR With C# Target</option>
                <option>ANTLR With CPP Target</option>
                <option>ANTLR With Java Target</option>
                <option>ANTLR With ObjectiveC Target</option>
                <option>ANTLR With Perl Target</option>
                <option>ANTLR With Python Target</option>
                <option>ANTLR With Ruby Target</option>
                <option>ApacheConf</option>
                <option>APL</option>
                <option>AppleScript</option>
                <option>Arduino</option>
                <option>Arrow</option>
                <option>AspectJ</option>
                <option>aspx-cs</option>
                <option>aspx-vb</option>
                <option>Asymptote</option>
                <option>Augeas</option>
                <option>autohotkey</option>
                <option>AutoIt</option>
                <option>Awk</option>
                <option>BARE</option>
                <option>Base Makefile</option>
                <option>Bash</option>
                <option>Bash Session</option>
                <option>Batchfile</option>
                <option>BBC Basic</option>
                <option>BBCode</option>
                <option>BC</option>
                <option>Befunge</option>
                <option>BibTeX</option>
                <option>BlitzBasic</option>
                <option>BlitzMax</option>
                <option>BNF</option>
                <option>Boa</option>
                <option>Boo</option>
                <option>Boogie</option>
                <option>Brainfuck</option>
                <option>BST</option>
                <option>BUGS</option>
                <option>C</option>
                <option>C#</option>
                <option>C++</option>
                <option>c-objdump</option>
                <option>ca65 assembler</option>
                <option>cADL</option>
                <option>CAmkES</option>
                <option>Cap'n Proto</option>
                <option>CapDL</option>
                <option>CBM BASIC V2</option>
                <option>Ceylon</option>
                <option>CFEngine3</option>
                <option>cfstatement</option>
                <option>ChaiScript</option>
                <option>Chapel</option>
                <option>Charmci</option>
                <option>Cheetah</option>
                <option>Cirru</option>
                <option>Clay</option>
                <option>Clean</option>
                <option>Clojure</option>
                <option>ClojureScript</option>
                <option>CMake</option>
                <option>COBOL</option>
                <option>COBOLFree</option>
                <option>CoffeeScript</option>
                <option>Coldfusion CFC</option>
                <option>Coldfusion HTML</option>
                <option>Common Lisp</option>
                <option>Component Pascal</option>
                <option>Coq</option>
                <option>cpp-objdump</option>
                <option>CPSA</option>
                <option>Crmsh</option>
                <option>Croc</option>
                <option>Cryptol</option>
                <option>Crystal</option>
                <option>Csound Document</option>
                <option>Csound Orchestra</option>
                <option>Csound Score</option>
                <option>CSS</option>
                <option>CSS+Django/Jinja</option>
                <option>CSS+Genshi Text</option>
                <option>CSS+Lasso</option>
                <option>CSS+Mako</option>
                <option>CSS+mozpreproc</option>
                <option>CSS+Myghty</option>
                <option>CSS+PHP</option>
                <option>CSS+Ruby</option>
                <option>CSS+Smarty</option>
                <option>CUDA</option>
                <option>Cypher</option>
                <option>Cython</option>
                <option>D</option>
                <option>d-objdump</option>
                <option>Darcs Patch</option>
                <option>Dart</option>
                <option>DASM16</option>
                <option>Debian Control file</option>
                <option>Debian Sourcelist</option>
                <option>Delphi</option>
                <option>Devicetree</option>
                <option>dg</option>
                <option>Diff</option>
                <option>Django/Jinja</option>
                <option>Docker</option>
                <option>DTD</option>
                <option>Duel</option>
                <option>Dylan</option>
                <option>Dylan session</option>
                <option>DylanLID</option>
                <option>E-mail</option>
                <option>Earl Grey</option>
                <option>Easytrieve</option>
                <option>EBNF</option>
                <option>eC</option>
                <option>ECL</option>
                <option>Eiffel</option>
                <option>Elixir</option>
                <option>Elixir iex session</option>
                <option>Elm</option>
                <option>EmacsLisp</option>
                <option>Embedded Ragel</option>
                <option>ERB</option>
                <option>Erlang</option>
                <option>Erlang erl session</option>
                <option>Evoque</option>
                <option>execline</option>
                <option>Ezhil</option>
                <option>F#</option>
                <option>Factor</option>
                <option>Fancy</option>
                <option>Fantom</option>
                <option>Felix</option>
                <option>Fennel</option>
                <option>Fish</option>
                <option>Flatline</option>
                <option>FloScript</option>
                <option>Forth</option>
                <option>Fortran</option>
                <option>FortranFixed</option>
                <option>FoxPro</option>
                <option>Freefem</option>
                <option>FStar</option>
                <option>GAP</option>
                <option>GAS</option>
                <option>GDScript</option>
                <option>Genshi</option>
                <option>Genshi Text</option>
                <option>Gettext Catalog</option>
                <option>Gherkin</option>
                <option>GLSL</option>
                <option>Gnuplot</option>
                <option>Go</option>
                <option>Golo</option>
                <option>GoodData-CL</option>
                <option>Gosu</option>
                <option>Gosu Template</option>
                <option>Groff</option>
                <option>Groovy</option>
                <option>Haml</option>
                <option>Handlebars</option>
                <option>Haskell</option>
                <option>Haxe</option>
                <option>Hexdump</option>
                <option>HLSL</option>
                <option>HSAIL</option>
                <option>Hspec</option>
                <option>HTML</option>
                <option>HTML + Angular2</option>
                <option>HTML+Cheetah</option>
                <option>HTML+Django/Jinja</option>
                <option>HTML+Evoque</option>
                <option>HTML+Genshi</option>
                <option>HTML+Handlebars</option>
                <option>HTML+Lasso</option>
                <option>HTML+Mako</option>
                <option>HTML+Myghty</option>
                <option>HTML+PHP</option>
                <option>HTML+Smarty</option>
                <option>HTML+Twig</option>
                <option>HTML+Velocity</option>
                <option>HTTP</option>
                <option>Hxml</option>
                <option>Hy</option>
                <option>Hybris</option>
                <option>Icon</option>
                <option>IDL</option>
                <option>Idris</option>
                <option>Igor</option>
                <option>Inform 6</option>
                <option>Inform 6 template</option>
                <option>Inform 7</option>
                <option>INI</option>
                <option>Io</option>
                <option>Ioke</option>
                <option>IRC logs</option>
                <option>Isabelle</option>
                <option>J</option>
                <option>JAGS</option>
                <option>Jasmin</option>
                <option>Java</option>
                <option>Java Server Page</option>
                <option>JavaScript</option>
                <option>JavaScript+Cheetah</option>
                <option>JavaScript+Django/Jinja</option>
                <option>JavaScript+Genshi Text</option>
                <option>JavaScript+Lasso</option>
                <option>JavaScript+Mako</option>
                <option>Javascript+mozpreproc</option>
                <option>JavaScript+Myghty</option>
                <option>JavaScript+PHP</option>
                <option>JavaScript+Ruby</option>
                <option>JavaScript+Smarty</option>
                <option>JCL</option>
                <option>JSGF</option>
                <option>JSON</option>
                <option>JSON-LD</option>
                <option>JSONBareObject</option>
                <option>Julia</option>
                <option>Julia console</option>
                <option>Juttle</option>
                <option>Kal</option>
                <option>Kconfig</option>
                <option>Kernel log</option>
                <option>Koka</option>
                <option>Kotlin</option>
                <option>Lasso</option>
                <option>Lean</option>
                <option>LessCss</option>
                <option>Lighttpd configuration file</option>
                <option>Limbo</option>
                <option>liquid</option>
                <option>Literate Agda</option>
                <option>Literate Cryptol</option>
                <option>Literate Haskell</option>
                <option>Literate Idris</option>
                <option>LiveScript</option>
                <option>LLVM</option>
                <option>LLVM-MIR</option>
                <option>LLVM-MIR Body</option>
                <option>Logos</option>
                <option>Logtalk</option>
                <option>LSL</option>
                <option>Lua</option>
                <option>Makefile</option>
                <option>Mako</option>
                <option>MAQL</option>
                <option>markdown</option>
                <option>Mask</option>
                <option>Mason</option>
                <option>Mathematica</option>
                <option>Matlab</option>
                <option>Matlab session</option>
                <option>MIME</option>
                <option>MiniD</option>
                <option>MiniScript</option>
                <option>Modelica</option>
                <option>Modula-2</option>
                <option>MoinMoin/Trac Wiki markup</option>
                <option>Monkey</option>
                <option>Monte</option>
                <option>MOOCode</option>
                <option>MoonScript</option>
                <option>Mosel</option>
                <option>mozhashpreproc</option>
                <option>mozpercentpreproc</option>
                <option>MQL</option>
                <option>Mscgen</option>
                <option>MSDOS Session</option>
                <option>MuPAD</option>
                <option>MXML</option>
                <option>Myghty</option>
                <option>MySQL</option>
                <option>NASM</option>
                <option>NCL</option>
                <option>Nemerle</option>
                <option>nesC</option>
                <option>NewLisp</option>
                <option>Newspeak</option>
                <option>Nginx configuration file</option>
                <option>Nimrod</option>
                <option>Nit</option>
                <option>Nix</option>
                <option>Notmuch</option>
                <option>NSIS</option>
                <option>NumPy</option>
                <option>NuSMV</option>
                <option>objdump</option>
                <option>objdump-nasm</option>
                <option>Objective-C</option>
                <option>Objective-C++</option>
                <option>Objective-J</option>
                <option>OCaml</option>
                <option>Octave</option>
                <option>ODIN</option>
                <option>Ooc</option>
                <option>Opa</option>
                <option>OpenEdge ABL</option>
                <option>PacmanConf</option>
                <option>Pan</option>
                <option>ParaSail</option>
                <option>Pawn</option>
                <option>PEG</option>
                <option>Perl</option>
                <option>Perl6</option>
                <option>PHP</option>
                <option>Pig</option>
                <option>Pike</option>
                <option>PkgConfig</option>
                <option>PL/pgSQL</option>
                <option>Pointless</option>
                <option>Pony</option>
                <option>PostgreSQL console (psql)</option>
                <option>PostgreSQL SQL dialect</option>
                <option>PostScript</option>
                <option>POVRay</option>
                <option>PowerShell</option>
                <option>PowerShell Session</option>
                <option>Praat</option>
                <option>Prolog</option>
                <option>PromQL</option>
                <option>Properties</option>
                <option>Protocol Buffer</option>
                <option>PsySH console session for PHP</option>
                <option>Pug</option>
                <option>Puppet</option>
                <option>PyPy Log</option>
                <option>Python</option>
                <option>Python 2.x</option>
                <option>Python 2.x Traceback</option>
                <option>Python console session</option>
                <option>Python Traceback</option>
                <option>QBasic</option>
                <option>QML</option>
                <option>QVTO</option>
                <option>Racket</option>
                <option>Ragel</option>
                <option>Ragel in C Host</option>
                <option>Ragel in CPP Host</option>
                <option>Ragel in D Host</option>
                <option>Ragel in Java Host</option>
                <option>Ragel in Objective C Host</option>
                <option>Ragel in Ruby Host</option>
                <option>Raw token data</option>
                <option>RConsole</option>
                <option>Rd</option>
                <option>ReasonML</option>
                <option>REBOL</option>
                <option>Red</option>
                <option>Redcode</option>
                <option>reg</option>
                <option>Relax-NG Compact</option>
                <option>ResourceBundle</option>
                <option>reStructuredText</option>
                <option>Rexx</option>
                <option>RHTML</option>
                <option>Ride</option>
                <option>Roboconf Graph</option>
                <option>Roboconf Instances</option>
                <option>RobotFramework</option>
                <option>RPMSpec</option>
                <option>RQL</option>
                <option>RSL</option>
                <option>Ruby</option>
                <option>Ruby irb session</option>
                <option>Rust</option>
                <option>S</option>
                <option>SARL</option>
                <option>SAS</option>
                <option>Sass</option>
                <option>Scala</option>
                <option>Scalate Server Page</option>
                <option>Scaml</option>
                <option>scdoc</option>
                <option>Scheme</option>
                <option>Scilab</option>
                <option>SCSS</option>
                <option>Shen</option>
                <option>ShExC</option>
                <option>Sieve</option>
                <option>Silver</option>
                <option>Singularity</option>
                <option>Slash</option>
                <option>Slim</option>
                <option>Slurm</option>
                <option>Smali</option>
                <option>Smalltalk</option>
                <option>SmartGameFormat</option>
                <option>Smarty</option>
                <option>Snobol</option>
                <option>Snowball</option>
                <option>Solidity</option>
                <option>SourcePawn</option>
                <option>SPARQL</option>
                <option>SQL</option>
                <option>sqlite3con</option>
                <option>SquidConf</option>
                <option>Stan</option>
                <option>Standard ML</option>
                <option>Stata</option>
                <option>SuperCollider</option>
                <option>Swift</option>
                <option>SWIG</option>
                <option>systemverilog</option>
                <option>TADS 3</option>
                <option>TAP</option>
                <option>TASM</option>
                <option>Tcl</option>
                <option>Tcsh</option>
                <option>Tcsh Session</option>
                <option>Tea</option>
                <option>Tera Term macro</option>
                <option>Termcap</option>
                <option>Terminfo</option>
                <option>Terraform</option>
                <option>TeX</option>
                <option>Text only</option>
                <option>Thrift</option>
                <option>tiddler</option>
                <option>Todotxt</option>
                <option>TOML</option>
                <option>TrafficScript</option>
                <option>Transact-SQL</option>
                <option>Treetop</option>
                <option>Turtle</option>
                <option>Twig</option>
                <option>TypeScript</option>
                <option>Typographic Number Theory</option>
                <option>TypoScript</option>
                <option>TypoScriptCssData</option>
                <option>TypoScriptHtmlData</option>
                <option>ucode</option>
                <option>Unicon</option>
                <option>UrbiScript</option>
                <option>USD</option>
                <option>Vala</option>
                <option>VB.net</option>
                <option>VBScript</option>
                <option>VCL</option>
                <option>VCLSnippets</option>
                <option>VCTreeStatus</option>
                <option>Velocity</option>
                <option>verilog</option>
                <option>VGL</option>
                <option>vhdl</option>
                <option>VimL</option>
                <option>WDiff</option>
                <option>Web IDL</option>
                <option>Whiley</option>
                <option>X10</option>
                <option>XML</option>
                <option>XML+Cheetah</option>
                <option>XML+Django/Jinja</option>
                <option>XML+Evoque</option>
                <option>XML+Lasso</option>
                <option>XML+Mako</option>
                <option>XML+Myghty</option>
                <option>XML+PHP</option>
                <option>XML+Ruby</option>
                <option>XML+Smarty</option>
                <option>XML+Velocity</option>
                <option>Xorg</option>
                <option>XQuery</option>
                <option>XSLT</option>
                <option>Xtend</option>
                <option>xtlang</option>
                <option>XUL+mozpreproc</option>
                <option>YAML</option>
                <option>YAML+Jinja</option>
                <option>YANG</option>
                <option>Zeek</option>
                <option>Zephir</option>
                <option>Zig</option>
            </select>
          </div>
        <div class="backdrop form-control">
            <div class="displayArea">
                <!-- Cloned text with colors will go here -->
            </div>
        </div>
        <textarea spellcheck="false" id="textArea" onKeyDown="processPre(event, this);"
            class="form-control"></textarea>
        <div class="d-flex justify-content-center mb-3"></div>
        <div id="saved" style="display: none;" class="text-white bg-info rounded font-weight-bold p-2 px-4">Saved</div>
    </div>
    <div class="modal fade" id="chooseFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose a file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Enter file name" id="fileNameField" class="form-control form-text"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" onclick="downloadfile(document.getElementById('fileNameField').value); $('#chooseFileModal').modal('toggle');">Save</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}