{% extends "layout.html" %}

{% block title %}Editor{% endblock %} 

{% block additionalStyles %}
{% for sheet in feature_sheets %}
    <link rel="stylesheet" href="{{sheet}}">
{% endfor %}
{% endblock %}

{% block menuitems %}
{{super()}}
<!-- Menu navbar -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        File
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" onclick="$('#chooseFileModal').modal('toggle');">Download</a>
        <a class="dropdown-item" href="#" onclick="document.getElementById('fileinput').click()">Load</a>
        <a class="dropdown-item" href="#" onclick="saveText(document.getElementById('codeField'));">Save</a>
        {% for html in dropdown_file_html %}
        {% include html %}
        {% endfor %}
    </div>
</li>
{% for menu_item in menu_item_html %}
{% include menu_item %}
{% endfor %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for html in navbar_settings_html %}
        {% include html %}
    {% endfor %}
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link" href="#" onclick="$('#helpModal').modal('toggle');">Help</a>
</li>
{% endblock %}
{% block content %}
    <input id="fileinput" type="file" class="custom-file-input d-none" onchange="fileLoad();" />
    <!-- Editor textarea container -->
    <div class="container">
        {% for html in page_html %}
        {% include html %}
        {% endfor %}
        <div style="display: flex;">
            {% for html in pre_editor_html %}
            {% include html %}
            {% endfor %}
            <div id=editor style="flex-grow: 1;">
                {% for html in editor_html %}
                {% include html %}
                {% endfor %}
                <textarea spellcheck="false" id="textArea" onKeyUp="processTitle(event, this);" onKeyDown="processText(event, this);"
                    class="form-control"></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3"></div>
        <div id="saved" style="display: none;" class="alert alert-primary" role="alert">Info</div>   
        <div id="warning" style="display: none;" class="alert alert-warning" role="alert">Warning</div>     
    </div>
    
    <!-- Select file dialog box -->
    <div class="modal fade" id="chooseFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose a file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Enter file name" id="fileNameField" class="form-control form-text"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" onclick="downloadfile(document.getElementById('fileNameField').value); $('#chooseFileModal').modal('toggle');">Save</a>
                </div>
            </div>
        </div>
    </div>

    <!-- help modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Documentation</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Basic usage</h3>
                    <h6><u>Editing & saving text</u></h6>
                    <p>
                    To edit text, simply type in the textarea. This text can be saved by pressing <i>File -> Save</i>, or <i>CTRL+S</i>. The <i>*</i> in the
                    title indicates that the text has not been saved. Saved text is kept upon page refresh.
                    </p>
                    <h6><u>Loading a file</u></h6>
                    <p>
                    To edit an existing file, simply click <i>File -> Load</i> and choose the file to load. This file is then put in the textarea.
                    You can then edit this file and save the edited text.
                    </p>
                    <h6><u>Downloading to a file</u></h6>
                    <p>
                    To download the edited text, you can click on <i>File -> Download</i>. Enter a file name and pressing <i>Save</i> will download the
                    file using the browser.
                    </p>
                    {% for section in help_section_html %}
                    {% include section %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% for modal in modal_html %}
    {% include modal %}
    {% endfor %}
{% endblock %}

{% block additionalScripts %}
{% for script in feature_scripts %}
    <script src="{{script}}"></script>
{% endfor %}
{% endblock %}
