{% extends "layout.html" %}

{% block title %}Editor{% endblock %} 

{% block additionalStyles %}
{% for sheet in feature_sheets %}
    <link rel="stylesheet" href="{{sheet}}">
{% endfor %}
{% endblock %}

{% block menuitems %}
{{super()}}
<!-- Menu navbar -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        File
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" onclick="document.getElementById('fileinput').click()">Load</a>
        <a class="dropdown-item" href="#" onclick="saveText(document.getElementById('codeField'));">Save</a>
        <a class="dropdown-item" href="#" onclick="$('#chooseFileModal').modal('toggle');">Download</a>
    </div>
</li>
{% endblock %}

{% block content %}
    <input id="fileinput" type="file" class="custom-file-input d-none" onchange="fileLoad(this);" />
    <!-- Editor textarea container -->
    <div class="container">
        {% for html in page_html %}
        {% include html %}
        {% endfor %}

        <div style="display: flex;">
            {% for html in pre_editor_html %}
            {% include html %}
            {% endfor %}
            <div id=editor style="flex-grow: 1;">
                {% for html in editor_html %}
                {% include html %}
                {% endfor %}
                <textarea spellcheck="false" id="textArea" onKeyUp="processTitle(event, this);" onKeyDown="processText(event, this);"
                    class="form-control"></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3"></div>
        <div id="saved" style="display: none;" class="alert alert-primary" role="alert">Info</div>   
        <div id="warning" style="display: none;" class="alert alert-warning" role="alert">Warning</div>     
    </div>
    
    <!-- Select file dialog box -->
    <div class="modal fade" id="chooseFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose a file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Enter file name" id="fileNameField" class="form-control form-text"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" onclick="downloadfile(document.getElementById('fileNameField').value); $('#chooseFileModal').modal('toggle');">Save</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalScripts %}
{% for script in feature_scripts %}
    <script src="{{script}}"></script>
{% endfor %}
{% endblock %}