<div class="d-flex justify-content-center mb-3">
    <button type="button" id="whatsapp" onclick="share(`whatsapp`)" class="btn btn-success">Share via Whatsapp</button>
    <button type="button" id="mail" onclick="share(`mail`)" class="btn btn-secondary">Share via Email</button>
    <button type="button" id="reddit" onclick="share(`reddit`)" class =
    "btn btn-dark">Share via Reddit</button>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
    class="twitter-share-button" data-show-count="false" data-size="large">Tweet
    </a><script async src="https://platform.twitter.com/widgets.js" 
    charset="utf-8"></script>
  
</div>


