<h3>Tabs</h3>
<h6><u>Adding a new tab</u></h6>
<p>
To add a new tab, simply click on the <i>+</i> icon next to the last tab.
</p>
<h6><u>Closing tabs</u></h6>
<p>
To close a tab simply click on <i>&times;</i>
</p>
<h6><u>Saving tabs</u></h6>
<p>
To save a tab, simply click on <i>CTRL+S</i> or <i>File -> Save</i>. There is also <i>File -> Save All Tabs</i> which
ensures that all tabs are saved and that deleted tabs are still deleted upon refresh.
</p>
<h6><u>Loading a file</u></h6>
<p>
Loading a new file, adds a new tab instead of replacing the contents of the current tab.
</p>
<h6><u>Download a file</u></h6>
<p>
Downloading a file downloads the contents of the last saved tab. 
</p>