<div class="d-flex justify-content-center mb-3">
    <button id="google" button type ="button" class="btn btn-outline-primary" onclick="search(this.id)">Search on Google</button>
    <button id ="youtube" button type="button" class="btn btn-outline-danger" 
    onclick="search(this.id)"
    >Search on YouTube</button>
    <button id="stackoverflow" button type="button" class="btn btn-outline-warning"
    onclick="search(this.id)"
    >Search on StackOverflow</button>
    <button id="reddit" button type="button" class="btn btn-outline-success"
    onclick="search(this.id)"
    >Search on Reddit</button>
</div>