<label for="editorThemeSelect">Editor</label>
<select class="form-control" id="editorThemeSelect">
    <option>abap</option>
    <option>algol</option>
    <option>algol_nu</option>
    <option>arduino</option>
    <option>autumn</option>
    <option>borland</option>
    <option>bw</option>
    <option>colorful</option>
    <option>default</option>
    <option>emacs</option>
    <option>friendly</option>
    <option>fruity</option>
    <option>igor</option>
    <option>inkpot</option>
    <option>lovelace</option>
    <option>manni</option>
    <option>monokai</option>
    <option>murphy</option>
    <option>native</option>
    <option>paraiso-dark</option>
    <option>paraiso-light</option>
    <option>pastie</option>
    <option>perldoc</option>
    <option>rainbow_dash</option>
    <option>rrt</option>
    <option>sas</option>
    <option>solarized-dark</option>
    <option>solarized-light</option>
    <option>stata</option>
    <option>stata-dark</option>
    <option>stata-light</option>
    <option>tango</option>
    <option>trac</option>
    <option>vim</option>
    <option>vs</option>
</select>