<div class="container">
    <div class="d-flex justify-content-center mb-3">
    <div class="input-group mb-3">
        <input id="search" type="text" class="form-control" placeholder="Search ..." aria-label="search" aria-describedby="basic-addon2">
        <input id="replace" type="text" class="form-control" placeholder="... replace">
        <div class="input-group-append">
          <button class="btn btn-primary" 
          onclick="searchLocal(document.getElementById('search'),document.getElementById('replace'))"
          type="button">Search and replace</button>
        </div>
    </div>
</div>
</div>