.line-number {
    line-height: 1.2em;
    font-family: Consolas, 'Courier New', Courier, monospace;
    text-align: right;
}

.line-numbering {
    float: left;
    width: 40px;
    max-height: 70vh;
    border-right: 2px transparent;
    border-top: 1px transparent;
    border-bottom: 1px transparent;
    padding-right: .4rem;
    overflow-y: hidden;
    pointer-events: none;
}